/*  Base style of the page. Will contain the font-family to be used
as well as the overall background styling and header styling */

@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

* {
  font-family: 'Walter Turncoat', cursive;
}

/* Background image styling  */
body {
  background: url("../img/lined-paper-pattern.png");
  text-align: center;
}

/* Header styling  */
h1 {
  font-size: 60px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #CC0000;
  padding-bottom: 20px;
}

/* Footer styling  */
footer {
  font-size: 20px;
  text-align: left;
  padding: 10%;
  margin: 0 auto;
}

/*  #reset-button, #message and #alerts styling  */
#reset-button {
  clear: both;
  background-color: transparent;
  border: 3px groove black;
  border-radius: 50%;
  padding: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}

#message {
  margin-bottom: 0;
}

#alerts {
  padding-bottom: 30px;
}
