/*  Base style of the page. Will contain the font-family to be used
as well as the overall background styling and header styling */

@import url(https://fonts.googleapis.com/css?family=Walter+Turncoat);

* {
  font-family: 'Walter Turncoat', cursive;
}

/* Background image styling  */
body {
  background: url("../img/lined-paper-pattern.png");
  text-align: center;
}

/* Header styling  */
h1 {
  font-size: 60px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #CC0000;
  padding-bottom: 20px;
}

/* Footer styling  */
footer {
  font-size: 20px;
  text-align: left;
  padding: 10%;
  margin: 0 auto;
}

/*  #reset-button, #message and #alerts styling  */
#reset-button {
  clear: both;
  background-color: transparent;
  border: 3px groove black;
  border-radius: 50%;
  padding: 30px;
  font-size: 20px;
  margin-bottom: 30px;
}

#message {
  margin-bottom: 0;
}

#alerts {
  padding-bottom: 30px;
}

/*  div styling: will need to style each div with border styling to represent each grid. */
#wrapper {
  overflow: hidden;
  width: 80%;
  margin: 1em auto 0;
}

.board-square {
  display: block;
  float: left;
  height: 250px;
  width: 32%;
  padding: 40px;
  box-sizing: border-box;
  font-size: 100px;
}

.top-left, .mid-left {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

.bottom-left {
  border-right: 2px solid black;
}

.top-middle, .mid-middle {
  border-bottom: 2px solid black;
}

.top-right, .mid-right {
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}

.bottom-right {
  border-left: 2px solid black;
}

/* Media queries should be defined at the bottom to adjust size of images when viewport reduced.
font-size of X's and O's should change with screen size to be proportionate */

@media (max-width: 600px) {
  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

  #reset-button {
    margin-bottom: 10px;
  }

  .board-square {
    height: 90px;
    font-size: 25px;
    font-weight: bold;
    padding: 25px;
  }

  footer {
    font-size: 15px;
    padding: 10%;
  }
  
}
